
<script src="{{ 'cntdn-timer.js' | asset_url }}" defer="defer"></script>

<link rel="preload" as="style" href="{{ 'cart-timer.css' | asset_url }}">

<div id="jstimer">
  <h5>Time remaining:</h5>
	<div id="clockdiv">
	  <span>
		<span class="minutes"></span>
		<span class="smalltext">Minutes</span>
	  </span>
	  <span>
		<span class="seconds"></span>
		<span class="smalltext">Seconds</span>
	  </span>
	</div>
</div>



